body {
  .wpgmaps_user_form {
    table {
      &.wpgmza_table{
        tr {
          display: none !important;
        }
      }
    }
  }
}

body {
  .wpgmaps_user_form {
    table {
      width: 100%;
      &.wpgmza_table{
        tbody{
          width: 100%;
          tr {
            &.wpgmza-address {
              display: flex !important;
              width: 100%;
              td {
                padding:0 !important;
                input {
                  width: 100%;
                  padding: 10px;
                  border: none;
          
                  &:focus {
                    outline: none;
                    border: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#ttb_marker_form_wrapper {
  .ttb_marker_form {
    .ttb_marker_form_field {
      padding-bottom: 15px;

      label {
        display: block;
        padding-bottom: 15px;
      }

      input {
        width: 100%;
        padding: 10px;
        border: none;

        &:focus {
          outline: none;
          border: none;
        }
      }

      textarea {
        width: 100%;
        padding: 10px;
        border: none;

        &:focus {
          outline: none;
          border: none;
        }
      }

      &#ttb_submit {
        display: inline-block;
        #ttb_marker_submit {
          cursor: pointer;
        }
      }
    }
  }
}