body {
  .wpgmaps_user_form {
    table {
      &.wpgmza_table{
        tr {
          display: none !important;
        }
      }
    }
  }
}

body {
  .wpgmaps_user_form {
    table {
      width: 100%;
      &.wpgmza_table{
        tbody{
          width: 100%;
          .ttb_marker_form_field {
            padding-bottom: 15px;
            width: 100%;
            label {
              display: block;
              padding-bottom: 5px;
              font-size: 16px;
              line-height: normal;
            }
      
            input {
              width: 100%;
              padding: 10px;
              border: none;
              font-size: 14px;
              line-height: normal;
      
              &:focus {
                outline: none;
                border: none;
              }
            }
          }
          tr {
            &.wpgmza-address {
              display: flex !important;
              width: 100%;
              margin: 0;
              padding-bottom: 10px;
              td {
                font-size: 16px;
                line-height: normal;
                padding-bottom: 5px !important;
                padding-right: 0 !important;
                input {
                  width: 100%;
                  padding: 10px;
                  border: none;
                  font-size: 14px;
                  line-height: normal;
          
                  &:focus {
                    outline: none;
                    border: none;
                  }
                }
                p {
                  font-size: 12px;
                  line-height: normal;
                  margin: 5px 0 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

#ttb_marker_form_wrapper {
  .ttb_marker_form {
    .ttb_marker_form_field {
      padding-bottom: 15px;

      label {
        display: block;
        padding-bottom: 5px;
        font-size: 16px;
        line-height: normal;
      }

      input {
        width: 100%;
        padding: 10px;
        border: none;
        font-size: 14px;
        line-height: normal;

        &:focus {
          outline: none;
          border: none;
        }
      }
      select {
        width: 25%;
        padding: 10px;
        border: none;
        font-size: 14px;
        line-height: normal;
        &:focus {
          border: none;
          outline: none;
        }
        @media only screen and (max-width: 767px) { 
          width: 50%;
        }
      }

      textarea {
        width: 100%;
        padding: 10px;
        border: none;
        font-size: 14px;
        line-height: normal;

        &:focus {
          outline: none;
          border: none;
        }
      }

      &#ttb_submit {
        display: inline-block;
        #ttb_marker_submit {
          cursor: pointer;
        }
      }
    }
  }
}

input::-webkit-input-placeholder {
  font-size: 14px !important;
  line-height: normal;
 }