body .wpgmaps_user_form table.wpgmza_table tr {
  display: none !important; }

body .wpgmaps_user_form {
  background-color: rgba(96, 110, 121, 0.4);
  padding: 20px 20px 0px 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 20px; }
  body .wpgmaps_user_form table {
    width: 100%; }
    body .wpgmaps_user_form table.wpgmza_table tbody {
      width: 100%; }
      body .wpgmaps_user_form table.wpgmza_table tbody .ttb_marker_form_field {
        padding-bottom: 15px;
        width: 100%; }
        body .wpgmaps_user_form table.wpgmza_table tbody .ttb_marker_form_field label {
          display: block;
          padding: 0;
          margin-bottom: 4px;
          font-size: 16px;
          line-height: 1.3;
          color: #fff;
          font-weight: 700; }
          body .wpgmaps_user_form table.wpgmza_table tbody .ttb_marker_form_field label .ttb-required-label {
            color: #ff0000;
            font-weight: 400; }
        body .wpgmaps_user_form table.wpgmza_table tbody .ttb_marker_form_field input {
          width: 100%;
          padding: 10px;
          border: none;
          font-size: 14px;
          line-height: normal; }
          body .wpgmaps_user_form table.wpgmza_table tbody .ttb_marker_form_field input:focus {
            outline: none;
            border: none; }
      body .wpgmaps_user_form table.wpgmza_table tbody tr.wpgmza-address {
        display: flex !important;
        width: 100%;
        margin: 0;
        padding-bottom: 10px;
        position: relative; }
        body .wpgmaps_user_form table.wpgmza_table tbody tr.wpgmza-address td {
          font-size: 16px;
          padding: 0 !important;
          margin-bottom: 4px !important;
          padding-right: 0 !important;
          line-height: 1.3;
          color: #fff;
          font-weight: 700; }
          body .wpgmaps_user_form table.wpgmza_table tbody tr.wpgmza-address td input {
            width: 100%;
            padding: 10px 10px 10px 30px;
            border: none;
            font-size: 14px;
            line-height: normal; }
            body .wpgmaps_user_form table.wpgmza_table tbody tr.wpgmza-address td input:focus {
              outline: none;
              border: none; }
          body .wpgmaps_user_form table.wpgmza_table tbody tr.wpgmza-address td p {
            font-size: 12px;
            line-height: normal;
            margin: 5px 0 0;
            font-weight: 400; }
        body .wpgmaps_user_form table.wpgmza_table tbody tr.wpgmza-address #ttb_map_icon {
          position: absolute;
          top: 29px;
          left: 5px;
          width: 20px;
          height: 20px;
          display: block;
          cursor: pointer; }
          body .wpgmaps_user_form table.wpgmza_table tbody tr.wpgmza-address #ttb_map_icon img {
            width: 100%;
            height: auto; }
        body .wpgmaps_user_form table.wpgmza_table tbody tr.wpgmza-address .ttb-required-label {
          position: absolute;
          top: -3px;
          left: calc(20% + 30px);
          display: block;
          color: #ff0000;
          font-weight: 400; }

#ttb_marker_form_wrapper {
  background-color: rgba(96, 110, 121, 0.4);
  padding: 0px 20px 20px 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; }
  #ttb_marker_form_wrapper .ttb_marker_form .ttb_marker_form_field {
    padding-bottom: 15px; }
    #ttb_marker_form_wrapper .ttb_marker_form .ttb_marker_form_field:nth-child(2) {
      padding-bottom: 5px; }
    #ttb_marker_form_wrapper .ttb_marker_form .ttb_marker_form_field label {
      display: block;
      font-size: 16px;
      line-height: 1.3;
      color: #fff;
      font-weight: 700;
      padding: 0;
      margin-bottom: 4px; }
      #ttb_marker_form_wrapper .ttb_marker_form .ttb_marker_form_field label .ttb-required-label {
        color: #ff0000;
        font-weight: 400; }
    #ttb_marker_form_wrapper .ttb_marker_form .ttb_marker_form_field input {
      width: 100%;
      padding: 10px;
      border: none;
      font-size: 14px;
      line-height: normal; }
      #ttb_marker_form_wrapper .ttb_marker_form .ttb_marker_form_field input:focus {
        outline: none;
        border: none; }
    #ttb_marker_form_wrapper .ttb_marker_form .ttb_marker_form_field select {
      width: 25%;
      padding: 10px;
      border: none;
      font-size: 14px;
      line-height: normal; }
      #ttb_marker_form_wrapper .ttb_marker_form .ttb_marker_form_field select:focus {
        border: none;
        outline: none; }
      @media only screen and (max-width: 767px) {
        #ttb_marker_form_wrapper .ttb_marker_form .ttb_marker_form_field select {
          width: 50%; } }
    #ttb_marker_form_wrapper .ttb_marker_form .ttb_marker_form_field textarea {
      width: 100%;
      padding: 10px;
      border: none;
      font-size: 14px;
      line-height: normal; }
      #ttb_marker_form_wrapper .ttb_marker_form .ttb_marker_form_field textarea:focus {
        outline: none;
        border: none; }
    #ttb_marker_form_wrapper .ttb_marker_form .ttb_marker_form_field#ttb_submit {
      display: inline-block; }
      #ttb_marker_form_wrapper .ttb_marker_form .ttb_marker_form_field#ttb_submit #ttb_marker_submit {
        cursor: pointer;
        background-color: #eee;
        border: 1px solid #ddd;
        color: #333;
        font-size: 1em;
        padding: 10px 15px; }
        #ttb_marker_form_wrapper .ttb_marker_form .ttb_marker_form_field#ttb_submit #ttb_marker_submit:hover {
          background-color: #ddd;
          border: 1px solid #ccc; }
    #ttb_marker_form_wrapper .ttb_marker_form .ttb_marker_form_field#ttb_upload_image label {
      padding: 0 !important;
      margin: 0 !important; }
    #ttb_marker_form_wrapper .ttb_marker_form .ttb_marker_form_field#ttb_upload_image input {
      padding-left: 0 !important;
      padding-top: 4px !important; }

#ttb_marker_date {
  background-color: #e5e5e5 !important; }

input::-webkit-input-placeholder {
  font-size: 14px !important;
  line-height: normal; }

/*# sourceMappingURL=timeandtidebell-vgm-add-on-public.css.map */
