/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .wpgmza-infowindow {
	width: 300px;
    height: 300px;
}
.wpgmza-infowindow img {
	width: 100% !important;
    height: 300px !important;
    margin: 0 !important;
    float: none !important;
}

th#wpgmza_map_list_pic {
    display: none;
}
#wpgmza-table-container-Marker tbody tr td:nth-child(8) {
    display: none;
}
