/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


.wpgmza-infowindow p {
    display: none;
}

.wpgmza_infowindow_description {
      display: none;
}

.wpgmza-infowindow p[data-custom-field-name="Date"] {
    display: block !important;
  	padding-bottom: 15px;
}

.gm-style-iw-d {
	overflow-y: scroll !important;
    overflow-x: hidden !important;
}

@media screen and (max-width: 767px) {
  .wpgmza-infowindow {
      width: 160px !important;
      height: 200px !important;
  }
}
